body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width: 80%;
  max-width: 1000px;
  min-width: 700px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1246px;
  width:1625px;
  height:81px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1625px;
  height:42px;
  background:inherit;
  background-color:rgba(194, 36, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1327px;
  width:1625px;
  height:42px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:1337px;
  width:103px;
  height:20px;
  color:#1E1E1E;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#1E1E1E;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:1337px;
  width:93px;
  height:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  white-space:nowrap;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:48px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1263px;
  width:106px;
  height:48px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:48px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:1263px;
  width:109px;
  height:48px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:48px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:1263px;
  width:138px;
  height:48px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:1263px;
  width:144px;
  height:48px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:1263px;
  width:140px;
  height:48px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1263px;
  width:98px;
  height:48px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:48px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:1263px;
  width:91px;
  height:48px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1624px;
  height:42px;
  background:inherit;
  background-color:rgba(194, 36, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1624px;
  height:42px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1620px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(194, 36, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:42px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(194, 36, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:42px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:160px;
  height:160px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:4px;
  width:34px;
  height:31px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:8px;
  width:27px;
  height:27px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:6px;
  width:27px;
  height:28px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:7px;
  width:32px;
  height:28px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:904px;
  width:920px;
  height:309px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:190px;
  width:253px;
  height:37px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:190px;
  width:227px;
  height:37px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:190px;
  width:117px;
  height:37px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;

}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:283px;
  width:960px;
  height:540px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
