body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:264px;
  width:165px;
  height:37px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:450px;
  width:300px;
  height:25px;
}
#u154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:450px;
  width:300px;
  height:25px;
}
#u155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:586px;
  width:300px;
  height:25px;
}
#u156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:586px;
  width:300px;
  height:25px;
}
#u157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:402px;
  width:49px;
  height:22px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:402px;
  width:76px;
  height:22px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:541px;
  width:92px;
  height:22px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:541px;
  width:57px;
  height:22px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:723px;
  width:300px;
  height:25px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:681px;
  width:124px;
  height:22px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:723px;
  width:300px;
  height:25px;
}
#u169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:681px;
  width:240px;
  height:22px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  white-space:nowrap;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:825px;
  width:57px;
  height:22px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:207px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:869px;
  width:150px;
  height:207px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:825px;
  width:57px;
  height:22px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:869px;
  width:300px;
  height:22px;
}
#u178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u178_input:disabled {
  color:grayText;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:1180px;
  width:140px;
  height:40px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:1180px;
  width:140px;
  height:40px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1625px;
  height:81px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1231px;
  width:1625px;
  height:81px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1625px;
  height:42px;
  background:inherit;
  background-color:rgba(194, 36, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1312px;
  width:1625px;
  height:42px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:1322px;
  width:103px;
  height:20px;
  color:#1E1E1E;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#1E1E1E;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:1322px;
  width:93px;
  height:20px;
  text-decoration:underline;
  color:#1E1E1E;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  white-space:nowrap;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:48px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1248px;
  width:106px;
  height:48px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:48px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:1248px;
  width:109px;
  height:48px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:48px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:1248px;
  width:138px;
  height:48px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:1248px;
  width:144px;
  height:48px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:1248px;
  width:140px;
  height:48px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:48px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1248px;
  width:98px;
  height:48px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:48px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:1248px;
  width:91px;
  height:48px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:175px;
  width:253px;
  height:37px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:175px;
  width:227px;
  height:37px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:175px;
  width:117px;
  height:37px;
  font-family:'Arial Gras', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1624px;
  height:42px;
  background:inherit;
  background-color:rgba(194, 36, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1624px;
  height:42px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1620px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(194, 36, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:42px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(194, 36, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:42px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:160px;
  height:160px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:4px;
  width:34px;
  height:31px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1314px;
  top:8px;
  width:27px;
  height:27px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:6px;
  width:27px;
  height:28px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:7px;
  width:32px;
  height:28px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
